body {
  margin: 0;
  background-color: darkorchid;
}

.navbar {
  font-size: 2.5rem;
  text-align: center;
  background-color: rgb(122, 7, 180);
  padding-top: 1.8rem;
  padding-bottom: 2rem;

}

.navbar * {
  text-decoration: none;
  color: white;
  white-space: pre;
  padding-left: 3rem;
  padding-right: 3rem;
}

.container {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
  background-color: darkorchid;
}

.subcontainer {
  width: 50%;
  margin-left: 20%;
  margin-right: 18%;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  margin: auto;
  font-size: 3rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 20%;
}

.info {
  margin-left: 10%;
  margin-bottom: 5rem;
  padding-bottom: 1.5rem;
  width: 100%;
  border: .2rem solid pink;
  border-radius: 5rem;
  background-color: aquamarine
}

.info * {
  font-size: 1.5rem;
  text-align: center;
  white-space: pre;
  text-decoration: none;
  margin-top: 0;
  word-wrap: break-word;
  white-space: initial;
}

.removeDiv {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.removeDiv p {
  margin: 0;
  margin-bottom: .5rem;
  font-size: 1.8rem;
}

img {
  display: block;
  height: 10rem;
  width: 10rem;
  margin: auto;
  padding-bottom: 2rem;
}

.removeButton {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
}

.schoolsDescription {
  margin: auto;
  width: 60%;
  word-wrap: break-word;
  white-space: initial;
  font-size: 1.3rem;
}

.padding {
  padding-top: 3.5rem;
}

form {
  text-align: center;
  margin-top: 5rem;
  margin-right: .1rem;
  border: .2rem solid salmon;
  border-radius: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: bisque;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form * {
  margin-bottom: 0rem;
}

.smallInfoContainer {
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: darkorchid;
  margin: auto;
}

.smallInfo {
  font-size: 1.5rem;
  text-align: center;
  white-space: pre;
  margin: 2rem;
  padding: 1.5rem;
  border: .2rem solid pink;
  border-radius: 3rem;
  background-color: aquamarine;
}

.smallInfo a, .smallInfo p {
  margin:0;
  text-decoration: none;
  padding-bottom: 1rem;
}

.smallInfo img {
  padding-top: 1rem;
  margin: auto;
}

.score {
  font-size: 1.2rem;
}

.schoolDescription {
  width: 60%;
  text-align: center;
  margin: auto;
  word-wrap: break-word;
  white-space: initial;
  font-size: 1.3rem;
  padding-left: 20%;
}