body {
  background-color:rgb(47, 255, 186);
}

.nav {
  display: flex;
  width: 100%;
  height: 6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 69, 86);
}

.navImg {
  position: absolute;
  left:0;
  top:0;
  width:6rem;
  height: 6rem;
}
.navItem {
  font-size: 2rem;
  text-decoration: none;
  margin: 1.2rem;
  padding: .8rem;
  border: .1rem solid rgb(253, 69, 86);
  border-radius: 1rem;
  color: white;
  transition: .5s;
}

.navItem:hover {
  border: .1rem solid rgb(189, 57, 68);
  background-color: rgb(189, 57, 68);
  border-radius: 1rem;
  color: pink;
}

hr {
  margin: 0;
  border-width: 1px;
  background-color: black;
}

.agentsOuterContainer {
  display: flex;
  flex-direction: column;
}

.agentsInnerContainer {
  flex: 0 1 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:5rem;
}

.agentsInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.agents {
  position: relative;
}

.agentName {
  position: absolute;
  top: 4rem;
  left: 2rem;
  font-size: 3rem;
}

.agentRole {
  position: absolute;
  top: 10rem;
  left: 2rem;
}

.agentDescription {
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

.agentImg {
  height: 45rem;
  width: 50rem;
}

.abilityContainer {
  padding-top: 7rem;
  align-self: flex-start;
}

.abilityIcon {
  height: 5rem;
  width: 5rem;
  padding: 1.5rem 2rem 2.5rem;
}

.abilityDescription {
  width: 100%;
  box-sizing: border-box;
}

.blankImg {
  box-sizing: border-box;
  min-width: 9rem;
  min-height: 9rem;
  border: 0;
}

.imgContainer {
  scroll-behavior: smooth;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: stretch;
  align-content: stretch;
  /* overflow:hidden; */
}

.mapContainer {
  /* position: relative; */
  flex-shrink: 0;
  height:100vh;
  overflow: hidden;
}

.mapImg {
  padding: 0.5rem 5.7rem 0.5rem;
  width: 98.5%;
  height: 98.5%;
}

.mapOutDescription {
position:relative
}
.mapDescription {
  position:absolute;
  top:0;
  left: 10rem;

}

.leftScroll {
  position: absolute;
  font-size: 10rem;
  left:0;
}

.rightScroll {
  position: absolute;
  font-size: 10rem;
  right: 0;
}
